
/*====
Main
====*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: auto;
  padding: 50px;
}

main {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  justify-content: center;
  margin-top: 20%%;
  padding: 0% 25% 0% 25%;
  line-height: normal;
}


header{
  justify-content: center;
  text-align: center;
  margin: auto;
  align-items: center;
  height: 20%;
  padding-top: 20px;
}

.mainpage {
  display: block;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  max-width: 100%;
  font-size: 100%;
  transform: translate(-50%, -50%);
}

/*=========
Headings 
==========*/
h1, h2, h3, h4, h6 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

/*=====
Links
======*/

a {
  text-decoration: none;
  color: #A5C476;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

/*=======
Navigation
=========*/

nav {
  display: block;
  line-height: 30px;
  font-size: 20px;
}

/*======
Footer
======*/

/* formatting for sticky footer */
html{ 
  height:100%; 
}

body{ 
  min-height:100%; 
  padding:0; 
  margin:0; 
  position:relative; 
}

body::after{ 
  content:''; 
  display: block; 
  height: 150px; 
}

footer {
  /* formatting for sticky footer */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-top: 1px;
  padding: 2px 1;  


  /* styling */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  background: rgba(165, 196, 118, 0.07);
  color: rgba(115, 149, 62, 0.7);
 
}