// Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;400;600&display=swap');
$ibm-plex-sans: 'IBM Plex Sans', sans-serif;

html, 
body {
    font-family: $ibm-plex-sans;
    font-size: 16px;
}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;

    @media (max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    }
    @media (max-width: 1280) {
        width: 976px;
        min-width: 976px;
    }
    @media (max-width: 976px) {
        width: 768px;
        min-width: 768px;
    }
}