// Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;400;600&display=swap');
$ibm-plex-sans: 'IBM Plex Sans', sans-serif;

// Colors
$vulcan: #95a72196;
$code: rgb(255, 190, 190);
$photos: rgb(195, 228, 255);
$social-icon: rgb(179, 179, 179);

html, 
body {
    font-family: $ibm-plex-sans;
    font-size: 16px;
    overflow-x: hidden;
    // overflow-y: hidden;
}

p {
    font-weight: 100;
}

.container {
    width: 1240px;
    min-width: 1240px;
    margin: 0 auto;
    @media (max-width: 1240px) {
        width: 1280px;
        min-width: 1280px;
    }
    @media (max-width: 1280) {
        width: 976px;
        min-width: 976px;
    }
    @media (max-width: 976px) {
        width: 768px;
        min-width: 768px;
    }
}

// Header
header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    .inner-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        .logo {
            a {
                font-size: 2rem;
                font-weight: 600;
                text-decoration: none;
                color: black;
            }
        }
        .navigation{
            nav{
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

// Home Page Text
.home-page-text {
    display: flex;
    align-items: left;
    position: relative;
    height: 100vh;
    .home-page-row {
        position: relative;
        .main-text{
            padding-left: 10px;
            font-size: 1.75rem;
            position: absolute;
            top: 50%;
            transform: translateY(50%);
        }
    }
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

a:hover .vulcan {
    background-color: $vulcan;
    color: white;
    padding: 2px;
}

a:hover .code {
    background-color: $code;
    color: white;
    padding: 2px;
}

a:hover .photos {
    background-color: $photos;
    color: white;
    padding: 2px;
}

.vulcan {
    background-color: white;
    font-weight: 700;
    color: $vulcan;
}

.code {
    background-color: white;
    font-weight: 700;
    color: $code;
}

.photos {
    background-color: white;
    font-weight: 700;
    color: $photos;
}

.social-icon {
    color: $social-icon;
    margin: 0 0 0 20px;
}

.social-icon-left {
    color: $social-icon;
}


// Projects page
.project-grid{
    display: flex;
    flex-direction: column;

}

.inner-project-grid{
    // margin-top: 5rem;
    top: 50%;
    transform: translateY(25%);
    display: grid;
    gap: 1rem;
    justify-content: center;
    // align-items: center;

    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-auto-rows: 300px;
}

.project-card {
    padding-left: 10px;
}
